<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%
  var title = page.title;
  if (is_archive()){
    title = 'Archive';
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'category' + ': ' + page.category;
  } else if (is_tag()){
    title = 'tag' + ': ' + page.tag;
  }
  %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <%- css('css/style') %>
    <%- open_graph() %>
    <% if (theme.favicon){ %>
      <link rel="icon" href="<%-config.root%><%- theme.favicon %>">
    <% } %>
  </head>
  <body>
    <header>
      <menu>
        <div>
          <% for (var i in theme.menu){ %>
            <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          <% } %>
        </div>
      </menu>
      <img src="/<%- theme.image_dir %>/<%- theme.cover_image %>" />
      <h1><%- config.title %></h1>
    </header>
    <div class="wrapper">
      <%- body %>
    </div>
    <% if (config.disqus_shortname){ %>
    <script>
      var disqus_shortname = '<%= config.disqus_shortname %>';
      <% if (page.permalink){ %>
      var disqus_url = '<%= page.permalink %>';
      <% } %>
      (function(){
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <% } %>
  </body>
</html>
